$base-font-size: 16px !default;
@function rem($target, $context: $base-font-size){
  @if $target == 0 { @return 0 }
    @return ($target / $context) + 0rem;
}



*{
  box-sizing: border-box;
}

html{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
body,html{
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-weight: bold;
}

.main{
  position: relative;
  width: 100%;
  height: 100%;
  .content{
    text-align: center; 
  }
}

.tictactoe{
  width: rem(572px);
  margin: rem(16px);
  padding: rem(8px);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  div{
    width: rem(180px);
    height: rem(180px);
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 0;
    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%;
    }
    i{
      vertical-align: middle;
      font-size: rem(90px);
      &.fa-circle{ color: #000; }
      &.fa-times{ color: #fff; }
    }
  }
}

.result{
  position: relative;
  margin: rem(16px);
  padding: rem(8px);
  width: rem(572px);
  height: rem(572px);
  i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: #ED494C;
    font-size: rem(450px);
  }
  .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: rem(154px);
    font-style: italic;
    -webkit-text-stroke: rem(5px) #fff;
    color: transparent;
    // text-shadow: 
    //   rem(-5px) 5px #fff,
    //   5px rem(5px) #fff, 
    //   rem(5px) 5px #fff,  
    //   5px rem(-5px) #fff, 
  }
}

.score{
  position: relative;
  margin-bottom: rem(32px);
  display: flex;
  justify-content: space-between;
  line-height: rem(60px);
  font-size: rem(48px);
  border:rem(4px) solid #000;
  border-radius: rem(8px);
  background-color: #fff;
  .trun{
    position: relative;
    flex: 0 0 auto;
    width: rem(61px);
    color: #fff;
    background: #000;
    border-radius: rem(4px) 0 0 rem(4px);
    border-right:rem(4px) solid #000;
    border-left:0;
    &:last-child{
      border-radius: 0 rem(4px) rem(4px) 0;
      font-size: rem(100px);
      font-weight: bold;
      line-height: rem(46px);
      border-right:0;
      border-left:rem(4px) solid #000;
    }
    &.is-active{
      background: #ED494C;
      &:after{
        position: absolute;
        top: rem(50px);
        right: -100%;
        width: 200%;
        content: 'YOUR TURN!';
        color: #fff;
        font-size: rem(20px);
        line-height: rem(60px);
      }
      &:last-child{
        &:after{
          left: -100%;
        }
      }
    }
    
  }
  .num{
    flex: 0 0 auto;
  }
  .vs{
    margin-top: rem(-10px);
    width: rem(70px);
    height: rem(70px);
    line-height: rem(80px);
    font-size: rem(20px);
    color: #fff;
    background: #000;
    border-radius: rem(8px) rem(8px) 0 0;
  }
}

button{
  width: rem(180*3px);
  height: rem(90px);
  border-radius: rem(8px);
  border: 0;
  font-size: rem(48px);
  font-weight: bold;
  font-family: "Roboto Condensed";
  .start &{
    color: #FF6D70;
    background: #fff;  
  }
  .game &,.winner &,.flat &{
    color: #fff;
    background: #ED494C;
  }
}

.start{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #000;
  .tictactoe{
    div{
      &:nth-child(1),&:nth-child(5),&:nth-child(9){
        font-style: italic;
        font-size: rem(100px);
      }
      &:nth-child(2){
        font-size: rem(270px);
        color: #ed494c;
      }
      &:nth-child(3){
        font-size: rem(140px);
        color: #000;
        text-shadow: 
          rem(-5px) 0px #fff,
          0px rem(5px) #fff, 
          rem(5px) 0px #fff,  
          0px rem(-5px) #fff, 
      }
      &:nth-child(4),&:nth-child(8){
        font-size: rem(140px);
        color: #ed494c;
      }
      &:nth-child(6),&:nth-child(7){
        font-size: rem(270px);
        color: #000;
        text-shadow: 
          rem(-5px) 0px #ed494c,
          0px rem(5px) #ed494c, 
          rem(5px) 0px #ed494c,  
          0px rem(-5px) #ed494c, 
      }
    }
  }
}

.game{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #FF6D70;
  .tictactoe{
    div{
      border-left: 8px solid #ED494C;
      border-bottom: 8px solid #ED494C;
      &:nth-child(3n+1){
        border-left: 0px;
      }
      &:nth-child(7),&:nth-child(8),&:nth-child(9){
        border-bottom: 0px;
      }
    }
  }
}

.winner,.flat{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #FF6D70;
}

.flat i{
  width: 100%;
  font-size: rem(260px);
}

$device-list: 320px 360px 400px 440px 480px 520px 560px 600px 640px;
@each $current-device in $device-list{
    @media screen and (min-width: $current-device) {
    body, html {
      font-size: $current-device * 0.025;
    }
  }
}