@charset "UTF-8";
* { box-sizing: border-box; }

body { background: #F0F0F0; color: #2EB738; font-family: 'Helvetica Neue'; }

body .main { width: 1280px; margin: 50px auto; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }

body .tit { position: relative; width: 280px; height: 326px; margin: 25px 45px; border: 0px solid #2EB738; border-width: 1px 0; text-align: center; vertical-align: middle; display: flex; flex-wrap: wrap; justify-content: center; align-content: center; line-height: 1.3; }

body .tit .cn { font-size: 56px; font-family: 'PingFang TC'; }

body .tit .cn:before, body .tit .cn:after { position: absolute; top: -2px; left: -35px; content: '×'; width: 100%; font-size: 24px; line-height: 0; text-align: left; color: #2EB738; }

body .tit .cn:after { left: auto; right: -35px; text-align: right; }

body .tit .en { font-size: 24px; }

body .tit .en:before, body .tit .en:after { position: absolute; bottom: -2px; left: -35px; content: '×'; width: 100%; font-size: 24px; line-height: 0; text-align: left; color: #2EB738; }

body .tit .en:after { left: auto; right: -35px; text-align: right; }

body .ninetable { margin: 20px; padding: 30px 40px 40px 40px; width: 350px; height: 366px; border-radius: 100px 0px 30px 0px; background: #fff; box-shadow: 0px 3px 10px #D8D8D8; }

body .ninetable .num { float: left; width: 50%; text-align: center; font-size: 128px; line-height: 1.2; font-weight: bold; text-shadow: 4px 3px 0px #F0F0F0; }

body .ninetable .cal { margin-top: 28px; }

body .ninetable .cal span { display: inline-block; width: 50%; padding: 0 10px; font-size: 24px; font-weight: 300; line-height: 1.8; letter-spacing: 0.5px; }
