@import "mixin";


*{
  box-sizing: border-box;
}

.main{
  font-family: "Roboto Condensed","微軟正黑體", Arial, sans-serif;
  width: 320px;
  padding: 0 20px;
  &.dark{
    background: #000;
    color: #fff;
  }
  .main-block{
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    &:last-child{
      border:0;
    }
    .col{
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{ font-size: 16px; }
    }
  }
  .add{
    margin-top: 20px;
    width: 100%;
    line-height: 56px;
    background: #000;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
}

[data='checkbox-switch'] {
  @include checkbox-switch(60px, 28px, 2px, #EDEDED, #575757);
}