@charset "UTF-8";
* { box-sizing: border-box; }

.main { font-family: "Roboto Condensed","微軟正黑體", Arial, sans-serif; width: 320px; padding: 0 20px; }

.main.dark { background: #000; color: #fff; }

.main .main-block { padding: 20px 0; font-size: 24px; font-weight: bold; border-bottom: 1px solid #ccc; }

.main .main-block:last-child { border: 0; }

.main .main-block .col { display: flex; justify-content: space-between; align-items: center; }

.main .main-block .col span { font-size: 16px; }

.main .add { margin-top: 20px; width: 100%; line-height: 56px; background: #000; color: #fff; text-align: center; cursor: pointer; }

[data='checkbox-switch'] { position: relative; width: 60px; height: 28px; }

[data='checkbox-switch'] input[type='checkbox'] { opacity: 0; }

[data='checkbox-switch'] input[type='checkbox'] ~ label { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #EDEDED; border-radius: 28px; cursor: pointer; transition: all 0.3s; }

[data='checkbox-switch'] input[type='checkbox'] ~ label:after { content: ''; position: absolute; top: 0; left: 0px; width: 24px; height: 24px; border-radius: 50%; border: 2px solid #EDEDED; background-color: #fff; transition: all 0.3s; }

[data='checkbox-switch'] input[type='checkbox']:checked ~ label { background: #575757; }

[data='checkbox-switch'] input[type='checkbox']:checked ~ label:after { left: 32px; border-color: #575757; background-color: #000; }
