@charset "UTF-8";
* { box-sizing: border-box; }

html, body { position: relative; width: 100%; height: 100%; font-family: "Roboto Condensed","微軟正黑體", Arial, sans-serif; overflow: hidden; }

.main { position: relative; width: 100%; height: 100%; }

.main.is-active .container { -webkit-transform: translateX(-30%); transform: translateX(-30%); }

.main.is-active .container .layer .blank { position: relative; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); }

.main.is-active .sidebar { -webkit-transform: translateX(0%); transform: translateX(0%); }

.main.is-active .control .quote .quote-text { display: none; }

.main.is-active .control .quote .quote-add { display: block; }

.main .icon { font-size: 40px; cursor: pointer; }

.main .control { position: relative; z-index: 99; }

.main .control .icon { position: fixed; top: 50px; right: 90px; color: #fff; }

.main .control .quote { position: fixed; bottom: 30%; left: 10%; width: 50%; font-size: 56px; font-weight: bold; line-height: 1.2; }

.main .control .quote .quote-text { display: block; }

.main .control .quote .quote-text i { position: relative; display: inline-block; font-size: 160px; line-height: 160px; left: 0; }

.main .control .quote .quote-text div { transition: 0.3s; display: inline-block; background: #fff; }

.main .control .quote .quote-add { display: none; position: relative; }

.main .control .quote .quote-add .tit { color: #fff; }

.main .control .quote .quote-add input[type='text'] { border: 0; background: transparent; border-bottom: 1px solid #fff; font-size: 24px; color: #fff; width: 100%; line-height: 2.5; }

.main .control .quote .quote-add input[type='text']:focus { outline: 0; }

.main .control .quote .quote-add button { position: absolute; right: 0; bottom: 0; border: 0; font-size: 48px; color: #fff; background: none; }

.main .control .quote .quote-add button:focus { outline: 0; }

.main .control [data='checkbox-switch'] { position: fixed; bottom: 30px; right: 90px; }

.main .container { position: relative; width: 100%; height: 100%; -webkit-transform: translateX(0%); transform: translateX(0%); transition: .3s; }

.main .container .layer { transition: 0.3s; position: relative; width: 100%; height: 100%; background: #fff; }

.main .container .layer .bg { position: absolute; left: 30%; top: 0; width: 70%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center; }

.main .sidebar { position: absolute; top: 0; right: 0; padding: 40px 2%; width: 30%; height: 100%; transition: .3s; -webkit-transform: translateX(100%); transform: translateX(100%); z-index: 999; }

.main .sidebar .col { display: flex; justify-content: space-between; align-items: center; }

.main .sidebar .sidebar-block { margin-top: 20px; padding-left: 40px; font-size: 24px; font-weight: bold; line-height: 2.5; }

.main .sidebar .sidebar-block p { text-align: right; }

.main .sidebar .sidebar-block p a { display: inline-block; font-size: 16px; color: #000; text-decoration: none; }

.main .sidebar ul li { display: flex; justify-content: space-between; padding: 13px 0; line-height: 1.5; font-size: 16px; border-top: 1px solid #000; }

.main .sidebar ul li .fn { display: inline-block; white-space: nowrap; }

.main .sidebar ul li i { margin-left: 20px; }

.main .sidebar ul li:last-child { border-bottom: 1px solid #000; }

.main.dark .control .quote { color: #fff; }

.main.dark .control .quote .quote-add { color: #000; }

.main.dark .control .quote .quote-add .tit, .main.dark .control .quote .quote-add input[type='text'] { color: #000; }

.main.dark .control .quote .quote-text div { background: #000; }

.main.dark .container .layer { background: #000; }

.main.dark .container .layer .blank { background: rgba(255, 255, 255, 0.5); }

.main.dark .sidebar { color: #fff; background: #000; }

.main.dark .sidebar ul li { border-color: #fff; }

.main.dark .sidebar ul li:last-child { border-color: #fff; }

.main.dark .sidebar .more { color: #fff; }

[data='checkbox-switch'] { position: relative; width: 60px; height: 28px; }

[data='checkbox-switch'] input[type='checkbox'] { opacity: 0; }

[data='checkbox-switch'] input[type='checkbox'] ~ label { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #EDEDED; border-radius: 28px; cursor: pointer; transition: all 0.3s; }

[data='checkbox-switch'] input[type='checkbox'] ~ label:after { content: ''; position: absolute; top: 0; left: 0px; width: 24px; height: 24px; border-radius: 50%; border: 2px solid #EDEDED; background-color: #fff; transition: all 0.3s; }

[data='checkbox-switch'] input[type='checkbox']:checked ~ label { background: #575757; }

[data='checkbox-switch'] input[type='checkbox']:checked ~ label:after { left: 32px; border-color: #575757; background-color: #000; }
